@import './variabile';

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-container {
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: $background-color;
    max-width: 500px;

    form {
        display: flex;
        flex-direction: column;

        label {
            font-size: 18px;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        }

        .rememberMe {
            label {
                margin-top: 5px;
            }
        }

        .submit {
            padding: 10px;
            width: 100%;
            border: none;
            border-radius: 5px;
            color: $background-color;
            font-size: 18px;
            background-color: #95AE74;
            cursor: pointer;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: #7d8a69;
            }
        }

        .cancel-forgot {
            margin-top: 5px;
        }

        .cancelButton {
            padding: 8px;
            width: 20%;
            border: none;
            border-radius: 3px;
            color: $background-color;
            font-size: 16px;
            background-color: #95AE74;
            cursor: pointer;
            box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color: #7d8a69;
            }
        }

        .check {
            margin-bottom: 10px;

            label {
                margin-top: 5px;
            }
        }
    }
}

.rememberMe label {
    margin-top: 5px;
}